### Проверка того, что наше api работает

Перед началом необходимо собрать docker-образ и запустить контейнер

1. Следовать инструкциям https://github.com/fimochka-sudo/GB_docker_flask_example/blob/main/README.md
2. Далее уже запускать код ниже

In [31]:
import pandas as pd
from sklearn.metrics import roc_auc_score, roc_curve
from urllib import request, parse
import urllib.request
import json      

repp_X_test = pd.read_csv("repp_test_transformed.csv")
#rw_y_test = pd.read_csv("rw_y_test.csv")

In [32]:
repp_X_test.head(3)

,Square,LifeSquare,KitchenSquare,Floor,Ecology_1,Social_1,Shops_1,HouseFloor,HouseYear,BldId,DistrictId_count,MedPriceByDistrict,MedPriceBySquare
0,49.882643,33.432782,6.0,6.0,0.310199,11,0,14.0,1972,2304,179.0,166809.67,NaN
1,69.263183,0.333490,3.0,1.0,0.075779,6,2,1.0,1977,2671,114.0,243031.69,215881.38
2,13.597819,-1.402181,12.0,2.0,0.000000,30,5,5.0,1909,922,5.0,NaN,137597.60

In [33]:
Square = 49.882643
LifeSquare = 33.432782
KitchenSquare = 6
Floor = 6
Ecology_1 = 0.310199
Social_1 = 11
Shops_1 = 0
HouseFloor = 14
HouseYear = 1972
BldId = 2304
DistrictId_count = 179
MedPriceByDistrict = 166809
MedPriceBySquare = None

In [34]:
body = {"Square": Square,
        "LifeSquare": LifeSquare,
        "KitchenSquare": KitchenSquare,
        "Floor": Floor,
        "Ecology_1": Ecology_1,
        "Social_1": Social_1,
        "Shops_1": Shops_1,
        "HouseFloor": HouseFloor,
        "HouseYear": HouseYear,
        "BldId": BldId,
        "DistrictId_count": DistrictId_count,
        "MedPriceByDistrict": MedPriceByDistrict,
        "MedPriceBySquare": MedPriceBySquare
        }

In [35]:
myurl = "http://0.0.0.0:8280/predict"

In [36]:
req = urllib.request.Request(myurl)

In [37]:
req.add_header('Content-Type', 'application/json; charset=utf-8')

In [38]:
jsondata = json.dumps(body)

In [39]:
jsondataasbytes = jsondata.encode('utf-8')   # needs to be bytes

In [40]:
req.add_header('Content-Length', len(jsondataasbytes))

In [41]:
print(jsondataasbytes)

b'{"Square": 49.882643, "LifeSquare": 33.432782, "KitchenSquare": 6, "Floor": 6, "Ecology_1": 0.310199, "Social_1": 11, "Shops_1": 0, "HouseFloor": 14, "HouseYear": 1972, "BldId": 2304, "DistrictId_count": 179, "MedPriceByDistrict": 166809, "MedPriceBySquare": null}'

In [42]:
response = urllib.request.urlopen(req, jsondataasbytes)

In [43]:
json.loads(response.read())['predictions']

143683

In [46]:
def get_prediction(Square=0, LifeSquare=0, KitchenSquare=0, Floor=0, Ecology_1=0, Social_1=0, Shops_1=0, 
                   HouseFloor=0, HouseYear=0, BldId=0, DistrictId_count=0, MedPriceByDistrict=0, MedPriceBySquare=0):
    body = {"Square": Square,
            "LifeSquare": LifeSquare,
            "KitchenSquare": KitchenSquare,
            "Floor": Floor,
            "Ecology_1": Ecology_1,
            "Social_1": Social_1,
            "Shops_1": Shops_1,
            "HouseFloor": HouseFloor,
            "HouseYear": HouseYear,
            "BldId": BldId,
            "DistrictId_count": DistrictId_count,
            "MedPriceByDistrict": MedPriceByDistrict,
            "MedPriceBySquare": MedPriceBySquare
            } 

    myurl = "http://0.0.0.0:8280/predict"
    req = urllib.request.Request(myurl)
    req.add_header('Content-Type', 'application/json; charset=utf-8')
    jsondata = json.dumps(body)
    jsondataasbytes = jsondata.encode('utf-8')   # needs to be bytes
    req.add_header('Content-Length', len(jsondataasbytes))
    #print (jsondataasbytes)
    response = urllib.request.urlopen(req, jsondataasbytes)
    return json.loads(response.read())['predictions']

In [52]:
predictions = get_prediction(Square = 390,
                             LifeSquare = 330,
                             KitchenSquare = 60,
                             Floor = 1,
                            # Ecology_1 = 0.310199,
                            # Social_1 = 11,
                            # Shops_1 = 0,
                             HouseFloor = 1,
                             HouseYear = 1972#,
                           #  BldId = 2304,
                          #   DistrictId_count = 179,
                          #   MedPriceByDistrict = 166809,
                         #    MedPriceBySquare = 1234
                            )
predictions

329184

Давайте подумаем, где наше api может сломаться

In [53]:
get_prediction("", "", None)

125209