### Проверка работоспособности и качества пайплайна

Здесь мы еще не запускаем никакое API, а загружаем модель (pipeline) напрямую и проверяем на отложенной (тестовой) выборке

In [2]:
import pandas as pd
from sklearn.metrics import roc_auc_score, roc_curve
import dill
dill._dill._reverse_typemap['ClassType'] = type

In [3]:
X_test = pd.read_csv("repp_test_transformed.csv")
#y_test = pd.read_csv("y_test.csv")

In [4]:
X_test.head(3)

,Square,LifeSquare,KitchenSquare,Floor,Ecology_1,Social_1,Shops_1,HouseFloor,HouseYear,BldId,DistrictId_count,MedPriceByDistrict,MedPriceBySquare
0,49.882643,33.432782,6.0,6.0,0.310199,11,0,14.0,1972,2304,179.0,166809.67,NaN
1,69.263183,0.333490,3.0,1.0,0.075779,6,2,1.0,1977,2671,114.0,243031.69,215881.38
2,13.597819,-1.402181,12.0,2.0,0.000000,30,5,5.0,1909,922,5.0,NaN,137597.60

In [9]:
X_test.columns

Index(['Square', 'LifeSquare', 'KitchenSquare', 'Floor', 'Ecology_1',
       'Social_1', 'Shops_1', 'HouseFloor', 'HouseYear', 'BldId',
       'DistrictId_count', 'MedPriceByDistrict', 'MedPriceBySquare'],
      dtype='object')

In [5]:
with open('repp_model.dill', 'rb') as in_strm:
    pipeline = dill.load(in_strm)

In [8]:
predictions = pipeline.predict(X_test)
predictions


#pd.DataFrame({'preds': predictions[:, 1]}).to_csv("repp_test_predictions.csv", index=None)

array([143537.75024726, 241737.958782  , 243829.8456673 , ...,
       318369.54876412, 194800.67652191, 185426.87896264])

In [6]:
roc_auc_score(y_score=predictions[:, 1][:], y_true=y_test.iloc[:])

0.9886584939205898